$highlight-color: #8e36b7;

$main-text: #434343;

$light-gray: #bbbbbb;
$gray: #909090;
$dark-gray: #666666;

@mixin button-base {
  padding: 10px 30px;
  border: none;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/SourceSansPro-Black.ttf') format('truetype');
}
